# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor/*

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

#local config
common/config/local/*
console/config/local/*
api/config/local/*
backend/config/local/*

#runtime
runtime/*
common/runtime/*
console/runtime/*
credit_api/runtime/*
notify/runtime/*
backend/runtime/*

/logs/